.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0 auto;
    max-width: 1140px;
    padding: 30px 28px;
    grid-gap: 30px;
    align-items: stretch;
  }
  
  .card {
    display: block;
    transition: transform 0.3s cubic-bezier(0.374, 0.019, 0.035, 1.861);
    //background-color: rgb(48, 22, 1);
    //border-radius: 8px;
    //box-shadow: 0 2px 2px 1px rgba(230, 152, 9, 0.1);
    width: 100%;
    height: 340px;
    list-style: none;
  
    &:hover {
      transform: scale(1.03);
    }
    &__img {
      display: block;
      border-radius: 50%;
      padding: 10px;
      width: 210px;
      height: 260px;
      object-fit: cover;
      margin: auto;
      border: 10px solid rgb(34, 23, 0);
    
     
    }
    &__title {
      font-size: 1.8rem;
      //padding: 10px;
      color: black;
      text-align: center;
      font-family: 'Goudy Bookletter 1911', serif;
      text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 166, 0), 0 0 0.2em rgb(255, 166, 0);
   
   
      
    }
    &__description {
      color: black;
      text-align: center;
      font-family: 'Goudy Bookletter 1911', serif;
      font-size: 1.5rem;
      font-weight: bold;
      text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 166, 0), 0 0 0.2em rgb(255, 166, 0);
      
    }
  }
  
  .modal__container {
    display: flex;
    justify-content: center;
    margin: 40px;
  }
  .modal__close {
    list-style: none;
    color: black;
    padding: 5px;
  }
  
  .modal__text {
    color: black;
    padding: 10px;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 1.5rem;
  }
  .modal__card {
    display: flex;
    width: 450px;
    height: 450px;
    justify-content: center;
    background-color: rgb(105, 55, 13);
    box-shadow: 0 2px 2px 1px rgba(230, 152, 9, 0.1);
    border-radius: 8px;
    align-items: center;
  
  
    
    &-text {
      list-style: none;
      text-decoration: none;
      color: black;
      font-family: 'Goudy Bookletter 1911', serif;
      font-size: 1.5rem;
      font-weight: bold;
      padding:20px;

      
    }
  }
  