
  .form {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    &__input-text {
      margin: 10px;
      height: 40px;
      width: 60%;
     // width: 20%;
      border-radius: 8px;
      outline: none;
      border: 2px solid #e4bc8e;
      padding: 0 10px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 1.2rem;
      font-family: 'Goudy Bookletter 1911', serif;
    
    }
    &__label {
      font-family: 'Goudy Bookletter 1911', serif;
      font-size: 1.3rem;
      font-weight: bold;
    }
  }