.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    &__input-text {
      margin: 10px;
      height: 40px;
     // width: 20%;
      border-radius: 8px;
      outline: none;
      border: 2px solid #c4c4c4;
      padding: 0 30px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 1.2rem;
      font-family: 'Goudy Bookletter 1911', serif;
    
    }
    &__label {
      font-family: 'Goudy Bookletter 1911', serif;
      font-size: 1.3rem;
      font-weight: bold;
    }
  }